.action {
    font-size: 25px;
    color: red;
    margin-left: 20px;
    cursor: pointer;
}

.noAction {
    font-size: 18px;
    color: black;
    margin-left: 20px;
    cursor: pointer;
}

.wrapper {
    justify-content: center;
    display: flex;
}